.jobs .header .hero-image {
    background: url(../images/collage.jpg);
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 850px;
    -o-object-fit: cover;
    object-fit: cover;
    animation: slide 110s linear infinite;
    will-change: background-position;
}

.jobs .header .bg-overlay {
    background: radial-gradient(farthest-side at top, #000 0, #161616 100%);
    opacity: .93;
}

.jobs .header .headline {
    position: absolute;
    z-index: 2;
}

.jobs .header .see-more-btn {
    margin: 30px 0;
}

@keyframes slide {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -6000px 0
    }
}

.jobs .scalapse h5 {
    text-align: center;
    padding: 60px 0;
}

.jobs .scalapse h5.dept {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    padding: 33px 0;
    margin-right: 30px;
    margin-top: 20px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

.jobs .scalapse h5 {
    text-align: center;
    padding: 60px 0;
}

.jobs .scalapse .role {
    border-bottom: 1px solid #222;
}

.jobs .scalapse .role .panel-group {
    margin: 30px 0;
}

.jobs .scalapse {
    padding: 60px 0 90px;
    margin: auto;
    text-align: center;
    display: block;
}

.jobs .scalapse .panel {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 1px;
}

.jobs .scalapse .panel .panel-heading {
    padding: 0;
    background-color: transparent;
}

.jobs .scalapse .panel:has(.accordion-button:not(.collapsed)) {
    background: linear-gradient(120deg, #000 8%, #181818 49%, #000 74%);
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}


.inverse .accordion-button.collapsed {
    background-color: transparent;
    color: white;
}

.jobs .accordion-item {
    border: none;
    background-color: transparent;
}


.jobs .scalapse .panel .panel-heading .panel-title {
    font-size: 19px;
}

.jobs .scalapse h4 {
    color: #D5333E;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.2;
}

.jobs .scalapse h6 {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}

.location {
    float: right;
    line-height: 1.1;
}

@media (max-width: 992px) {
    .jobs .scalapse h5.dept {
        text-align: left;
        padding: 33px 0 0 40px;
    }
}

@media (max-width: 1200px) {
    .jobs .scalapse h5.dept {
        font-size: 18px;
    }
}

.jobs .title.shine {
    width: 85%;
}

.jobs .location {
    padding: 0 20px;
}

.jobs .scalapse .accordion-collapse.show, .inverse .jobs .accordion-body {
    background: transparent;
    text-align: left;
}

.jobs .accordion-item:first-of-type .accordion-button {
    padding: 20px 40px;
}

.jobs .scalapse .panel .panel-body {
    padding: 0 20px 20px;
    border: 0 !important;
}

.jobs {
    & p {
        line-height: 1.8;
        padding: 4px 0;
        margin: 0 0 12px;
    }
}

.jobs .scalapse .panel:hover a {
    color: #de5d66;
}

.jobs .scalapse .panel a {
    color: #D5333E;
}

.jobs .scalapse .panel ul li {
    list-style-type: disc;
    margin-left: 20px;
}
