body:has(.case-studies-template) {
    background: radial-gradient(farthest-side at top, #fff 0, #f8f8f8 100%);
}

.case-studies-template {
    padding: 0;
}

.case-studies-template .post img {
    width: 100%;
    height: auto;
}

.case-studies-template .post-body .stats-block {
    background: radial-gradient(farthest-side at top, #fff 0, #f8f8f8 100%);
    padding: 70px 20px;
    margin: 0 -1px;
}

.case-studies-template .post-body .post-block {
    display: flex;
    flex-direction: column;
    padding: 60px 60px 0;
}

.case-studies-template .stats-block .stats-section {
    padding: 15px 0;
    text-align: left;
    font-size: 16px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.case-studies-template .stats-block .stats-section i {
    font-size: 30px;
}

.case-studies-template .stats-block .stats-section h4 {
    font-weight: 600;
    margin: 2px 0 8px;
    font-size: 18px;
}

.case-studies-template .stats-block .stats-section ul {
    padding: 0;
    margin: 0;
}

.case-studies-template .stats-block .stats-section ul li {
    margin: 3px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #D5333E;
}

.case-studies-template .work-detail .post-body {
    padding: 0 0 30px;
}


.case-studies-template-header.header .headline {
    margin: 140px 0 0 60px;
    margin-left: 16.66666667%;
    padding: 0 15px;
}

.case-studies-template-header .headline {
    position: absolute;
    z-index: 2;
    text-align: left;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0;
    color: white;
}

.case-studies-template-header .hero-image {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 700px;
    -o-object-fit: cover;
    object-fit: cover;
}


