.col-centered {
    float: none;
    margin: 0 auto;
}

.version {
    font-weight: 600;
    text-align: left;
}

.post-body .post {
    margin: 30px 0;
    text-align: left;
    line-height: 1.6;
}

.post-body .post ul {
    padding: 15px 40px;
}

.post-body .post ul li {
    padding: 5px 0;
    list-style-type: disc;
}

.post-body .post ul li {
    list-style: disc;
}
.legal.header .headline {
    margin: 140px 0 0;
}
